<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		
		<!-- main body of webpage -->
		<body style="background-color:lightblue;">
			<!-- webpage tabs -->
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			
			<!-- webpage content -->
			<div class="container">
				{{ content }}
			</div><!-- /.container -->
			
			
			<footer>
	    		        <ul>
				<li><a href="mailto:trencyclopedia@gmail.com">email</a></li>
	        		<li><a href="https://github.com/trencyclopedia">github.com/trencyclopedia</a></li>
				</ul>
			</footer>
		</body>
	</html>
